/* #region font-Crimson */
/* Crimson Roman */
@font-face {
    font-family: 'Crimson';
    src: url('/fonts/crimson/Crimson-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Crimson Italic */
@font-face {
    font-family: 'Crimson';
    src: url('/fonts/crimson/Crimson-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Crimson Bold */
@font-face {
    font-family: 'Crimson';
    src: url('/fonts/crimson/Crimson-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Crimson Bold Italic */
@font-face {
    font-family: 'Crimson';
    src: url('/fonts/crimson/Crimson-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Crimson Semibold */
@font-face {
    font-family: 'Crimson';
    src: url('/fonts/crimson/Crimson-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Crimson Semibold Italic */
@font-face {
    font-family: 'Crimson';
    src: url('/fonts/crimson/Crimson-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* #endregion */
/* #region font-Lato */
/* Lato Thin */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Lato Thin Italic */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Lato Light */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Lato Light Italic */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Lato Regular */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Lato Italic */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Lato Bold */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Lato Bold Italic */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Lato Black */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Lato Black Italic */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* #endregion */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

.animation-container {
    height: 100vh;
    background-image: linear-gradient(65deg,
            #9C030E 0%,
            #ffffff 20%,
            #ffffff 80%,
            #526b2d 100%);


    .tutorial-container {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 30;
    }

    .animation-content {
        width: 85%;
        height: 100%;

        .banner {
            position: fixed;
            z-index: 100;

            .logo-container {
                background-color: #e0d0ec;
            }

            .user-container {
                background-color: hsla(356, 96%, 31%, 0.20)
            }

            .links-container {
                background-color: #526b2d;
            }
        }

        .content {
            width: 90%;
            height: 95%;


            .progress-container {
                width: 100%;

                .progress {

                    width: 100%;
                    height: 0.8rem;
                    background-color: #ebc9fa;

                    .progress-bar {
                        background-color: #9C030E;
                    }

                }

                .progressInput {
                    flex: 1;
                    cursor: pointer;
                    opacity: 0%;
                }

                .containerNum {
                    width: 35px;
                    height: 35px;
                    background-color: #ebc9fa;
                }
            }

            .reproductor {
                width: 100%;
                height: 75%;
                background-color: #ebc9fa;
                padding: 2%;

                .containerVideo {
                    background-color: #9c6f73;

                    .archivo {
                        width: 100%;
                        height: 100%;

                        .mp4 {
                            z-index: -1;
                            width: 100%;
                        }

                    }

                    .videoFade {
                        position: absolute;
                        inset: 0;
                        background: black;
                        z-index: 2;
                        pointer-events: none;
                    }

                    .video-container {
                        width: 100%;
                        height: 100%;

                        /* play */

                        .play {

                            width: 130%;
                            height: 190%;
                            border-radius: 100%;
                            background-color: #0000008f;


                            .icon-play {
                                width: 100px;
                            }
                        }

                        /* funcionalidades */

                        .herramientas {
                            width: 70px;
                            height: 70px;
                            background-color: #ebc9fa;
                            border: #526b2d solid 4px;
                        }

                        /* herramientas de reproducción */

                        .btn-HerrRep {
                            width: 70px;
                            height: 75px;
                            background-color: #ebc9fa;
                        }

                        .container-HerrRep {

                            width: 30%;
                            background-color: #ebc9fa;

                            .volumen {
                                border: #526b2d solid 2px;

                                .iconS {
                                    width: 28px;
                                    height: 28px;
                                    background: #526b2d;
                                    border: none;
                                }

                                .volInput {
                                    width: 90px;
                                    accent-color: #526b2d;
                                    cursor: pointer;
                                }

                                .volLabel {
                                    font-size: 13px;
                                    color: #526b2d;
                                }
                            }

                            .pause {
                                width: 40px;
                                height: 40px;
                                border: #526b2d solid 2px;
                            }

                            .expandir {
                                width: 40px;
                                height: 40px;
                                border: #526b2d solid 2px;
                            }

                            .velocidad {
                                width: 40px;
                                height: 40px;
                                border: #526b2d solid 2px;
                                background-color: #ebc9fa;
                            }
                        }

                        /* diario */

                        .btn-diario {
                            width: 70px;
                            height: 70px;
                            background-color: #8c030e;
                        }
                    }
                }

            }

            .sinopsis {
                width: 100%;
                height: 23%;
                background-color: #8c030e;
                color: #ebc9fa;
                font-weight: 400;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}