.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: "100vh";
}

.fondo {
    position: fixed;
    inset: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.fabContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    z-Index: 20;
}

.menu-button {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    background-color: #ebc9fa;
    border: #526b2d solid 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s;
    outline: none;
}

/* estado cerrado */
.menu-button.closed {
    box-shadow: 0 4px 24px #526b2d65;
}

/* estado abierto */
.menu-button.open {
    box-shadow: 0 0 0 8px #ebc9fa52;
}

.herContainer {
    display: flex;
    gap: 1rem;
}

.crearHC {
    position: relative;
    left: 5.3rem;
}

.icono {
    width: 52px;
    height: 52px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s, color 0.2s;
    flex-shrink: 0;
}

/* estado activo */
.icono.active {
    background: #8c030e;
    color: #fff;
}

/* estado inactivo */
.icono.inactive {
    background: #ebc9fa;
    color: #94a3b8;
}

.option {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.cardOption {
    background: #526b2d;
    color: #e2e8f0;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 20px;
    white-space: nowrap;
    user-select: none,
}

.InterfazSeleccion {
    width: 70%;
    background: #1e213057;
    color: #e2e8f0;
    z-index: 20;
}

.InterfazSeleccion2 {
    width: 100%;
    height: 50%;
    background: #0d2dd0a0;
    color: #e2e8f0;
    z-index: 40;
}

.containerOption{
    background-color: #06abd0;
}


.containerOption2{
    width: 90%;
    height: 90%;
    background-color: #58c8e1d4;
}