/* #region font-Crimson */
/* Crimson Roman */
@font-face {
    font-family: 'Crimson';
    src: url('./assets/fonts/crimson/Crimson-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Crimson Italic */
@font-face {
    font-family: 'Crimson';
    src: url('./assets/fonts/crimson/Crimson-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Crimson Bold */
@font-face {
    font-family: 'Crimson';
    src: url('./assets/fonts/crimson/Crimson-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Crimson Bold Italic */
@font-face {
    font-family: 'Crimson';
    src: url('./assets/fonts/crimson/Crimson-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Crimson Semibold */
@font-face {
    font-family: 'Crimson';
    src: url('./assets/fonts/crimson/Crimson-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Crimson Semibold Italic */
@font-face {
    font-family: 'Crimson';
    src: url('./assets/fonts/crimson/Crimson-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* #endregion */
/* #region font-Lato */
/* Lato Thin */
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Lato Thin Italic */
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Lato Light */
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Lato Light Italic */
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Lato Regular */
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Lato Italic */
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Lato Bold */
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Lato Bold Italic */
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Lato Black */
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Lato Black Italic */
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* #endregion */

.portada {
    height: 105vh;
    
    
    h1 {
        font-family: 'Crimson', serif;
        font-size: 55px;
        font-weight: 500;
        color: #9C030E;
    }

    p {
        font-family: 'Lato', sans-serif;
        font-size: 35px;
        font-weight: 300;
        font-style: italic;
        color: #1e1e1e;
    }


    .btn2 {
        width: 100%;
        background-color: #e0d0ec;
        color: #526b2d;
        padding: 1.2rem 0rem 1rem 0rem;
        border: none;
        font-family: 'Crimson', serif;
        font-size: 24px;
    }

    .btn3 {
        width: 100%;
        background-color: #526b2d;
        color: #E0D0EC;
        padding: 1.2rem 0rem 1rem 0rem;
        border: none;
        font-family: 'Crimson', serif;
        font-size: 24px;
    }
}

/* #region Separadores */
.separador {
    rotate: 180deg;
    fill: #E0D0EC;
}

.separador2 {
    fill: #E0D0EC;
}

.separador3 {
    rotate: 180deg;
    fill: #526b2d;
}

.separador4 {
    fill: #526b2d;
}

.separador5 {
    rotate: 180deg;
    fill: #E0D0EC;
}

.separador6 {
    fill: #E0D0EC;
}

.separador7 {
    rotate: 180deg;
    fill: #ffffff;
}

.separador8 {
    fill: #ffffff;
}

.separador9 {
    rotate: 180deg;
    fill: #E0D0EC;
}

.separador10 {
    fill: #E0D0EC;
}

/* #endregion */

/* #region Decoraciones */
.decor1 {
    position: absolute;
    width: 38%;
    /* transform: scaleX(-1); */
    top: 7%;
    left: -5%;
}
.decor2 {
    position: absolute;
    width: 38%;
    /* transform: scaleX(-1); */
    bottom: 7%;
    right: -5%;
}
.decor3 {
    position: absolute;
    width: 38%;
    /* transform: scaleX(-1); */
    top: 0%;
    left: -5%;
}
.decor4 {
    position: absolute;
    width: 38%;
    /* transform: scaleX(-1); */
    bottom: 0%;
    right: -5%;
}
.decor5 {
    position: absolute;
    width: 38%;
    /* transform: scaleX(-1); */
    top: 0%;
    left: -5%;
}
.decor6 {
    position: absolute;
    width: 38%;
    /* transform: scaleX(-1); */
    bottom: 0%;
    right: -5%;
}
/* #endregion */

/* #region Secciones */
.problema,
.beneficios,
.registro {

    background-color: #E0D0EC;
    padding: 20% 0%;

    .encabezado {

        h2 {
            color: #9C030E;
            font-family: 'Crimson', serif;
            font-weight: 700;
            font-size: 45px;
        }

        p {
            color: #1e1e1e;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 25px;
        }

    }

    .contP {
        border-color: #9C030E;
        border-width: 4px;
        border-style: solid;

        .tP {
            h5 {
                color: #526b2d;
                font-family: 'Crimson', serif;
                font-weight: 700;
                font-size: 24px;
            }

            p {
                color: #9C030E;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 17px;
            }
        }
    }

    .itemsB {

        p {
            color: #9C030E;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 25px;
        }
    }

    .cotainerR {

        p {
            font-family: 'Crimson', serif;
            font-size: 55px;
            font-weight: 500;
            color: #9C030E;
        }

        .campoF {

            select {

                padding: 1rem 0rem 1rem 2rem;
                background-color: #E0D0EC;
                color: #1e1e1e;
                border: solid 2px #9C030E;
                font-family: 'Crimson', serif;
                font-weight: 500;
                font-size: 20px;
            }

            input {
                background-color: #E0D0EC;
                border: solid 2px #9C030E;
            }

            .leb {
                padding: 1rem 0rem 1rem 2rem;
                font-family: 'Crimson', serif;
                font-weight: 500;
                font-size: 20px;
                color: #1e1e1e;
            }

        }

        .btn3 {
            width: 40%;
            background-color: #9C030E;
            color: #E0D0EC;
            padding: 1.2rem 0rem 1rem 0rem;
            border: none;
            font-family: 'Crimson', serif;
            font-size: 24px;
        }
    }
}

.propuesta,
.actyrec {

    background-color: #8c030e;
    padding: 35% 0%;
    color: #E0D0EC;

    .encabezado {

        h2 {
            color: #E0D0EC;
            font-family: 'Crimson', serif;
            font-weight: 700;
            font-size: 45px;
        }

        p {
            color: #1e1e1e;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 25px;
        }

    }

    .subProp {
        color: #E0D0EC;
        font-family: 'Crimson', serif;
        font-weight: 700;
        font-size: 45px;
    }

    .contProp {

        p {
            color: #E0D0EC;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 25px;
        }

        .icon {
            width: 40px;
            height: 50px;
        }
    }

    .cardRecursos {

        h3 {
            color: #E0D0EC;
            font-family: 'Crimson', serif;
            font-weight: 700;
            font-size: 24px;
        }

        p {
            color: #E0D0EC;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 20px;
        }

        .btn2 {
            width: 90%;
            background-color: #e0d0ec;
            color: #9C030E;
            padding: 1.2rem 0rem 1rem 0rem;
            border: none;
            font-family: 'Crimson', serif;
            font-size: 24px;
        }
    }
}

.funciones,
.comunidad {
    background-color: #526b2d;
    padding: 25% 0%;

    .encabezado {

        h2 {
            color: #E0D0EC;
            font-family: 'Crimson', serif;
            font-weight: 700;
            font-size: 45px;
        }

        p {
            color: #1e1e1e;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 25px;
        }

    }

    .cardsF {

        h3 {
            width: 45%;
            color: #E0D0EC;
            font-family: 'Crimson', serif;
            font-weight: 700;
            font-size: 24px;
        }

        p {
            color: #E0D0EC;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 20px;
        }

    }

    .tC {
        h2 {
            color: #9C030E;
            font-family: 'Crimson', serif;
            font-weight: 700;
            font-size: 45px;
        }
    }

    .cardComent {

        border-color: #E0D0EC;
        border-width: 4px;
        border-style: solid;

        p {
            color: #E0D0EC;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 20px;
        }

        h3 {
            color: #9C030E;
            font-family: 'Crimson', serif;
            font-weight: 700;
            font-size: 17px;
        }
    }
}

.demo,
.personajes {

    background-color: #ffffff;
    padding: 25% 0%;

    p {
        color: #1e1e1e;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 25px;
    }

    .encabezado {

        h2 {
            color: #9C030E;
            font-family: 'Crimson', serif;
            font-weight: 700;
            font-size: 45px;
        }

        p {
            color: #1e1e1e;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 25px;
        }

    }

    .contDemo {
        background-color: #9C030E;

        p {
            color: #E0D0EC;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 25px;
        }
    }

    .btn2 {
        width: 100%;
        background-color: #e0d0ec;
        color: #9C030E;
        padding: 1.2rem 0rem 1rem 0rem;
        border: none;
        font-family: 'Crimson', serif;
        font-size: 24px;
    }

    .btn3 {
        width: 100%;
        background-color: #9C030E;
        color: #E0D0EC;
        padding: 1.2rem 0rem 1rem 0rem;
        border: none;
        font-family: 'Crimson', serif;
        font-size: 24px;
    }

    .containerPerson {

        h3 {
            color: #526b2d;
            font-family: 'Crimson', serif;
            font-weight: 700;
            font-size: 24px;
        }

        .cardPersonaje {
            background-color: #E0D0EC;
            width: 100%;
            height: 500px;

            p {
                color: #9C030E;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 17px;
            }
        }
    }
}

/* #endregion */