.notify {

    width: 40%;

    .type {
        background-color: #9c030e;
        color: #ffffff;
        font-weight: bold;
        width: 30%;
    }

    .comilla1 {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 30px;
        transform: scaleX(-1);
    }

    .comilla {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 30px;
        transform: scaleY(-1);
    }

    .content {
        background-color: #ffffff;
        position: relative;
        z-index: 1;
        border: 3px dotted #8c030e;
        text-align: center;
    }

    .option {
        background-color: #ebc9fa;
        position: absolute;
        top: 5px;
        right: 50px;
        z-index: 0;

        .container-icon {
            width: 30px;
            height: 30px;
            background-color: #8c030e;
        }
    }
}