.screen {
    width: 1000px;
    height: 408px;
    position: relative;
    overflow: hidden;
}

.fondo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nube {
    position: absolute;
    top: 20px;
    right: 600px;
    width: 370px;  
    animation: nube 50s linear infinite;
}

.nube2 {
    position: absolute;
    top: 30px;
    left: 500px;
    width: 350px;  
    animation: nube2 50s linear infinite;
}

.osoM{
    position: absolute;
    top: 50px;
    left: 500px;
    width: 300px;  
}

.pinguM{
    position: absolute;
    top: 170px;
    left: 140px;
    width: 200px;  
}

.pezVivo{
    position: absolute;
    top: 2000px;
}

@keyframes nube{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(75rem);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes nube2{
    0%{
        transform: translateX(300px);
    }
    50%{
        transform: translateX(-700px);
    }
    100%{
        transform: translateX(0);
    }
} 